.title_btns_wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-weight: 700;
  color: #FFF;
  font-size: 30px;
  line-height: 1.5;
}

.ganre_row_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.ganre_row_container {
  display: flex;
  align-items: center;
  gap: 17px;
  flex-wrap: wrap;
}

.skeleton_card {
  background: #1A1A1A;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 24px;
  width: 226px;
  height: 264px;
}