.searchPage_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1280px;
  min-height: 800px;
  gap: 7px 20px;
  margin: 0 auto;
  padding-bottom: 80px;
  position: relative;
}