.ganre_card {
  max-width: 224px;
  background: #1A1A1A;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 22px;
  display: none;
}

.ganre_img {
  width: 176px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 4px;
}

.ganre_img::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(26, 26, 26, 1), rgba(26, 26, 26, 0));
  z-index: 1;
  pointer-events: none;
}

.ganre_poster {
  object-fit: cover;
  width: 85.5px;
  height: 91px;
  border-radius: 6px;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.block {
  display: block;
}

.ganre_name {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: #FFF;
}

.ganre_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ganre_btn {
  background: transparent;
  border: none;
  cursor: pointer;
}