.header_container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 80px;
  margin-block: 22px 50px;
  min-height: 50px;
  position: relative;
}

.header_title {
  cursor: pointer;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input {
  background-color: #0F0F0F;
  border: 3px solid #1F1F1F;
  padding: 10px 55px 10px 20px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  border-radius: 12px;
  color: #FFF;
  outline: none;
  transition: border .2s ease;
}

.search_input:focus {
  border: 3px solid #e5000070;
}

.search_wrapp {
  position: absolute;
  height: 50px;
  display: flex;
  align-items: center;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

.search_btn {
  position: absolute;
  background: transparent;
  border: none;
  right: 25px;
  cursor: pointer;
  max-height: 24px;

  img {
    height: 24px;
    width: 24px;
  }
}